<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llc.dao.StatDao">
<resultMap id="FirstIndicatorMap" type="com.llc.model.FirstIndicator" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="totalUserNum" property="totalUserNum" jdbcType="INTEGER"/>
    <result column="dailyActive" property="dailyActive" jdbcType="INTEGER" />
    <result column="newUserNum" property="newUserNum" jdbcType="INTEGER" />
    <result column="avgUsedTime" property="avgUsedTime" jdbcType="FLOAT" />
    <result column="retention" property="retention" jdbcType="FLOAT"/>
    <result column="retention_3" property="retention_3" jdbcType="FLOAT"/>
    <result column="retention_7" property="retention_7" jdbcType="FLOAT"/>
    <result column="bugNum" property="bugNum" jdbcType="INTEGER" />
    <result column="displayTime" property="displayTime" jdbcType="VARCHAR"/>
</resultMap>

    <sql id="FirstStat_Column_List">
      totalUserNum, dailyActive,newUserNum,avgUsedTimePerUser,retention,retention_3,
      retention_7,bugNum,displayTime
    </sql>
    <select id="getStatistic" resultMap="FirstIndicatorMap">
        SELECT * FROM (SELECT <include refid="FirstStat_Column_List"/> from firstindicator_hour ORDER BY id DESC
        limit 0,49) AS HourTmp ORDER BY displayTime
    </select>
    <select id="getStatisticByVersion" resultMap="FirstIndicatorMap" parameterType="java.lang.String">
        SELECT * FROM (SELECT <include refid="FirstStat_Column_List"/> from display_version
        where version=#{version} ORDER BY displayTime DESC limit 0,49) AS TMPTable ORDER BY displayTime
    </select>
    <select id="getStatisticByDate" resultMap="FirstIndicatorMap">
        SELECT * FROM (SELECT <include refid="FirstStat_Column_List"/> from firstindicator ORDER BY id DESC
        limit 0,15) AS tmp ORDER BY displayTime
    </select>
    <select id="getVersionList" resultType="java.lang.String">
        SELECT version from versionset ORDER BY version ASC
    </select>
    <select id="getStatisticByVersionByDate" resultMap="FirstIndicatorMap" parameterType="java.lang.String">
        SELECT * FROM (SELECT <include refid="FirstStat_Column_List"/> from display_version
        where version=#{version} and displayTime like '%23:00:00%' ORDER BY displayTime DESC limit 0,15)
        AS TMPTable ORDER BY displayTime
    </select>
    <select id="getStatisticByUserType" resultMap="FirstIndicatorMap" parameterType="java.lang.String">
        SELECT * FROM (SELECT <include refid="FirstStat_Column_List"/> from display_usertype
        where usertype=#{userType} ORDER BY displayTime DESC limit 0,49) AS TMPTable ORDER BY displayTime
    </select>

    <select id="getStatisticByUserTypeByDate" resultMap="FirstIndicatorMap" parameterType="java.lang.String">
        SELECT * FROM (SELECT <include refid="FirstStat_Column_List"/> from display_usertype
        where usertype=#{userType} and displayTime like '%23:00:00%' ORDER BY displayTime DESC limit 0,15)
        AS TMPTable ORDER BY displayTime
    </select>

</mapper>