<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.llc.dao.StatDao">
<resultMap id="FirstIndicatorMap" type="com.llc.model.FirstIndicator" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dailyActive" property="dailyActive" jdbcType="INTEGER" />
    <result column="newUserNum" property="newUserNum" jdbcType="INTEGER" />
    <result column="bugNum" property="bugNum" jdbcType="INTEGER" />
    <result column="avgUsedTime" property="avgUsedTime" jdbcType="FLOAT" />
</resultMap>
<sql id="FirstStat_Column_List">
    dailyActive,newUserNum,bugNum,avgUsedTime
</sql>
<select id="getStatistic" resultMap="FirstIndicatorMap">
    SELECT <include refid="FirstStat_Column_List"/> from displaydata ORDER BY id DESC limit 0,1
</select>
</mapper>